html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	margin:0px;
	font-size:smaller;
	background-color:lightgray;
}
div.all{
	width:100%;
	height:100%;
	display:flex;
	padding:0px;
	margin:0px;
}
div.left{
	float:left;
}
div.right{
	float:left;
}
div.center{
	flex:1;
	float:left;
	height:100%;
}
input[type="text"]{
	width:64px;
}
input[type="text"].size{
	width:32px;
	text-align:right;
}

div.area{
background-color:gray;

border:1px solid black;
margin:4px 4px 0px 0px;
padding:4px;
	overflow:auto;
}
div.canvas_area{
	overflow:scroll;
	height:calc(100% - 30px);;
}

.layers{
	border:solid 1px;
	overflow:visible scroll;
	height:300px;
}
.layer{
border:solid 1px;
height:64px;
font-size:smaller;
line-height:1;
background-color:transparent;
padding:2px;
}

.colorpicker{
	width:48px;

}
.layer .name{
	text-align:left;
	font-weight:bold;

}
.layer_attributes{
	text-align:right;

}
.layer .thumbnail{
   background-image:url(back.png);
	width:auto;
	height:100%;
}

.active_layer{
background-color:#FFBF00;
}
.disable_layer{
	border-style:dotted;
}
.js-output{
	text-align:right;
}
#color_R
,#color_G
,#color_B 
,#color_A{
width:64px;
}
#color_R + .js-slider
,#color_G + .js-slider
,#color_B + .js-slider{
width:128;
}

#pen_preview{
   background-image:url(back.png);
}
#preview{
	border:solid 1px;
		   background-image:url(back.png);

	touch-action:none;
}

