html{
	background-color:#888;
	color:#fff;
}
select{
border:none;
}
span{
display:inline-block;
}
span.header {
	background-color:#444;
	text-align:center;
	display:inline-block;
	width:40px;
}

span.bui{
	text-align:right;
width:70px;
}
span.buso{
width:200px;
}
.header .atk::before{
color:#fcc;
content:'攻';
}
.header .def::before{
color:#cfc;
content:'防';
}
.header .spd::before{
color:#ff9;
content:'速';
}
.header .lp::before{
color:#ccc;
content:'体';
}
.header .bst::before{
color:#ccf;
content:'ブ';
}

.shinki .bui::before{
content:'【神姫】';
}
.head .bui::before{
	content:'【ヘッド】';
}
.body .bui::before{
	content:'【ボディ】';
}
.arm .bui::before{
	content:'【アーム】';
}
.leg .bui::before{
	content:'【レッグ】';
}
.rear .bui::before{
	content:'【リア】';
}
.weapon .bui::before{
	content:'【武器】';
}
.sub .bui::before{
	content:'【サブ】';
}
span.status{
	display:inline-block;
	text-align:right;
	width:40px;
}
.atk{
	background-color:#655;
}
.def{
	background-color:#565;
}
.spd{
	background-color:#665;
}
.lp{
	background-color:#555;
}
.bst{
	background-color:#556;
}
.n select{
	background-color:#eee;
}
.r select{
	background-color:#fc3;
}
.sr select{
	background-color:#ccf;
}
.ur select{
	background-color:#ff6;
}
option.n{
	background-color:#eee;
}
option.r{
	background-color:#fc3;
}
option.sr{
	background-color:#ccf;
}
option.ur{
	background-color:#ff6;
}
.rarelity{
	width:40px;
}
.lv{
	width:50px;
}
select{
	width:200px;
}

div.sub span.status{
	opacity:0.25;
}

span.biko{
	font-size:small;
}
div{
	padding-top:6px;
}
span.passive::before{
	background-color:#555;
	color:#fff;
	content:"パ";
	margin-right:1px;
}
span.active::before{
	background-color:#555;
	color:#f66;
	content:"ア";
	margin-right:1px;
}
span.apt::before{
	background-color:#555;
	color:#6f6;
	content:"適";
	margin-right:1px;
}
span.apt_::before{
	background-color:#555;
	color:#6f6;
	content:"適";
	margin-right:1px;
}
span.passive{
	margin-left:2px;
}
span.active{
	margin-left:2px;
}
span.apt{
	margin-left:2px;
}
span.apt_{
	margin-left:2px;
	color:#f00;
}
