th{
  position: sticky;
  top:0;
}
thead,tbody{
	display:block;
}
th:first-child,td:first-child{
	max-width:300px;
	width:300px;
	overflow:hidden;
}
th,td{
	width:60px;
	white-space: nowrap;
}
tbody{
height:80%;
  overflow-y: scroll;
}
a{
	color:#fff;
}
.hidden{
	display:none;
}
html{
	background-color:#888;
	color:#fff;
}
div.subwindow{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	padding:0px;
	left:0px;
	top:0px;
	text-align:center;
}
div.back{
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.6;
}
div.submain{
	text-align:left;
	display:inline-block;
	position:relative;
	background-color:black;
	height:100%;
}
table{
	width:100%;
	height:100%;
	border-collapse: separate;
	border-spacing: 4px 10px;
}
table tr:nth-child(odd) {
	background: #333;
}


select{
	border:none;
}
span{
display:inline-block;
}
span.header {
	background-color:#444;
	text-align:center;
	display:inline-block;
	width:40px;
}

span.bui{
	text-align:right;
width:80px;
}
select.buso{
	display:none;
}
.name{
    text-overflow: ellipsis;
width:200px;
display:inline-block;
overflow:hidden;
	white-space: nowrap;
    vertical-align: middle;

}
span.buso{
width:200px;
}
.header .atk::before{
color:#fcc;
content:'攻';
}
.header .def::before{
color:#cfc;
content:'防';
}
.header .spd::before{
color:#ff9;
content:'速';
}
.header .lp::before{
color:#ccc;
content:'体';
}
.header .bst::before{
color:#ccf;
content:'ブ';
}

.shinki .bui::before{
content:'【神姫】';
}
.head .bui::before{
	content:'【ヘッド】';
}
.body .bui::before{
	content:'【ボディ】';
}
.arm .bui::before{
	content:'【アーム】';
}
.leg .bui::before{
	content:'【レッグ】';
}
.rear .bui::before{
	content:'【リア】';
}
.weapon .bui::before{
	content:'【武器】';
}
.sub .bui::before{
	content:'【サブ】';
}
.status{
	text-align:right;
	width:48px;
	position:relative;
	background-color:#555;
}
.status::before{
position:absolute;
	left:0px;
	top:0px;
	font-size:4px;
	padding:1px;
}
.status.atk::before{
	color:#fcc;
	content:'攻';
}
.status.def::before{
	color:#cfc;
	content:'防';
}
.status.spd::before{
	color:#ff9;
	content:'速';
}
.status.lp::before{
	color:#ccc;
	content:'体';
}
.status.bst::before{
	color:#cff;
	content:'ブ';
}
.N select
,option.N{
	background-color:#eee;
}
.N a{
	color:#eee;
}
.R select
,option.R{
	background-color:#fc3;
}
.R a{
	color:#fc3;
}
.SR select
,option.SR{
	background-color:#ccf;
}
.SR a{
	color:#ccf;
}
.UR select
,option.UR{
	background-color:#ff6;
}
.UR a{
	color:#ff6;
}

.rarelity{
	width:40px;
}
.lv{
	width:50px;
}
select{
	width:200px;
}

div.sub span.status{
	opacity:0.25;
}

.biko{
	font-size:small;
}
div{
	padding-top:6px;
}
span.passive::before{
	background-color:#555;
	color:#fff;
	content:"パ";
	margin-right:1px;
}
span.active::before{
	background-color:#555;
	color:#f66;
	content:"ア";
	margin-right:1px;
}
span.apt::before{
	background-color:#555;
	color:#6f6;
	content:"適";
	margin-right:1px;
}
span.apt_::before{
	background-color:#555;
	color:#6f6;
	content:"適";
	margin-right:1px;
}
span.passive{
	margin-left:2px;
}
span.active{
	margin-left:2px;
}
span.apt{
	margin-left:2px;
}
span.apt_{
	margin-left:2px;
	color:#f00;
}
