#add_extra_passive{
	background-color:#222;
}
.filtertarget{
	cursor:cell;
	text-decoration:underline dotted ;

}
.remove{
	background-color:#000;
}
.onclick{
	cursor:pointer;
	text-decoration:underline;
}

a{
	color:#fff;
}
.hidden{
	display:none;
}
html{
	background-color:#888;
	color:#fff;
}


select{
	border:none;
}
span{
display:inline-block;
}
span.header {
	background-color:#444;
	text-align:center;
	display:inline-block;
	width:40px;
}

span.part{
	text-align:right;
width:80px;
}
select.buso{
	display:none;
}
.class{
	max-width:30px;
}
td.category::before{
	content:"[";
}
td.category::after{
	content:"]";
}
.name{
    text-overflow: ellipsis;
	width:200px;
	display:inline-block;
	white-space: nowrap;
    vertical-align: middle;

}
span.buso{
width:200px;
}
.header .atk::before{
color:#fcc;
content:'攻';
}
.header .def::before{
color:#cfc;
content:'防';
}
.header .spd::before{
color:#ff9;
content:'速';
}
.header .lp::before{
color:#ccc;
content:'体';
}
.header .bst::before{
color:#ccf;
content:'ブ';
}

.status{
	text-align:right;
	width:48px;
	position:relative;
	background-color:#555;
}
.status::before{
position:absolute;
	left:0px;
	top:0px;
	font-size:4px;
	padding:1px;
}
td span.status{
	margin-top:2px;
	margin-bottom:2px;
}
.status.atk::before{
	color:#fcc;
	content:'攻';
}
.status.def::before{
	color:#cfc;
	content:'防';
}
.status.spd::before{
	color:#ff9;
	content:'速';
}
.status.lp::before{
	color:#ccc;
	content:'体';
}
.status.bst::before{
	color:#cff;
	content:'ブ';
}
.N select
,option.N{
	color:initial;
	background-color:#eee;
}
.N a,.N .part,.name .N{
	color:#eee;
}
.R select
,option.R{
	color:initial;
	background-color:#fc3;
}
.R a,.R .part,.name .R{
	color:#fc3;
}
.SR select
,option.SR{
	color:initial;
	background-color:#ccf;
}
.SR a,.SR .part,.name .SR{
	color:#ccf;
}
.UR select
,option.UR{
	color:initial;
	background-color:#ff6;
}
.UR a,.UR .part,.name .UR{
	color:#ff6;
}

.rarelity{
	width:40px;
}
.lv{
	width:50px;
}
select{
	width:200px;
}

div.sub span.status{
	opacity:0.25;
}

.biko{
	font-size:small;
}
div{
	padding-top:6px;
}
span.passive::before{
	background-color:#555;
	color:#fff;
	content:"パ";
	margin-right:1px;
}
span.active::before{
	background-color:#c33;
	content:"ア";
	margin-right:1px;
}
/*
span.apt::before{
	background-color:#555;
	color:#6f6;
	content:"適";
	margin-right:1px;
}
*/
span.passive{
	margin-left:2px;
}
span.active{
	margin-left:2px;
}
span.apt{
	margin-left:2px;
}
span.minus{
	color:#f00;
}

:not(th).part::before{
	content:"【";
}
:not(th).part::after{
	content:"】";
}
/*サブウィンド*/
div.subwindow{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	padding:0px;
	left:0px;
	top:0px;
	text-align:center;
}
div.back{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}
div.submain{
	text-align:left;
	display:inline-block;
	position:relative;
	background-color:#222;
	height:100%;
}
tr.filter span{
	cursor:cell;
	text-decoration:underline dotted ;
	font-size:smaller;
}
input.filter{
	width:90%;
	background-color:#000;
	color:#fff;
	border:1px solid #fff;
}
table{
	border-collapse: collapse;
	height:90%;
}
tbody{
	position:relative;
  	display:inline-block;
	overflow-y: scroll;
	font-size:smaller;
	height:90%;
}
table td{
	margin-top :4px;
}
table td,table th{
	margin-left:8px ;
	
}
table tbody tr:nth-child(odd) {
	background: #333;
}

th,td{
	white-space: nowrap;
	width:60px;
	overflow:hidden;
}
thead,tbody{
	display:block;
}
tr .passive{
	width:200px;
}
tr .category{
	width:80px;
}
tr .active{
	width:200px;
}
tr td.rarelity,tr th.rarelity{
	width:40px;
}
td.name{
	width:200px;
	font-size:medium;
}
table .atk,table .def,table .spd,table .lp, table .bst{
	width:48;
}
